# Masukan APP ID ambil di web my.telegram.org
API_KEY = "26469997"

# Masukan API HASH ambil di web my.telegram.org
API_HASH = "b7c59622b6c2999a5efae1a8c83f995b"

# Masukan String Telethon Bisa di ambil Lewat t.me/StringManRobot
# Atau Ambil Manual dengan menjalankan cmd `bash sessiongen`
STRING_SESSION = "1AZWarzwBuzuZp7l-O86UcXZlZf2iR7emE3OIXw6Q5N9pQxl8P-Vq46EjINxcKH9N3YCMEX_aF8QqoRK21PcKkZzHt5b4ecnGJRMqLIKDPrRydJhIcncWPrmZLX4FduCtu7nxFIVnMMsSongYDTUzBak6ahRs9tpeiNUWQrDhq8s7BwZF3Sb4j7qGuRtJJSBOv8hiqwG1bSGPFyb9aAg6E9q8lpu8dPDBftqva6p5lYmeYfHewLRqF2vpNMjVgrkRaVCVKUCbkAZbYOzYsUJzA4QF6ZMpRaU89DQ503U7_1k4kCeceRM44sKGs6ORvy8OiyH1hugx16yT9QLjqwWZDg2jv9ueKTw="

# Masukan BOT TOKEN dari @botfather
BOT_TOKEN = "5775246834:AAFprQnIXQe5Ak4yMRlC4h7rxn5-9ZA2-wI"

# Masukan Chat ID dari Group Untuk Bot Log Userbot
# Bila tidak ingin pakai Log userbot, isi dengan 0
BOTLOG_CHATID = -1001491847822 # this is an integer, please don't use quotes.

# Masukan URL Database Anda, Ambil dari https://elephantsql.com
# Contoh: "postgres://userbot:userbot@localhost:5432/userbot"
DATABASE_URL = "postgres://eerahqnv:uYdGQXBzzIDGwxdc3ul69qBpRs-8JMOa@kesavan.db.elephantsql.com/eerahqnv"

# Fitur PMPERMIT Untuk Mengaktifkan Ubah ke True
# Untuk Menonaktifkan Ubah ke False
PM_AUTO_BAN = True

